<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Hotel Viewer App</title>
  <link href="~/css/bootstrap.css" rel="stylesheet" />
  <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>

  @await Component.InvokeAsync("SideMenu")
  @RenderBody()
</body>
</html>